:root {
	--dark-gray-blue: hsl(217, 19%, 35%);
	--desaturated-blue: hsl(214, 17%, 51%);
	--gray-blue: hsl(212, 23%, 69%);
	--light-gray-blue: hsl(210, 46%, 95%);
  }
  
/*----------------------------
	RESET: START
------------------------------
https://github.com/hankchizljaw/modern-css-reset/blob/master/dist/reset.css
/*
//* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/*----------------------------
	Attribution in footer
----------------------------*/
.attribution {
  font-size: 0.9375rem;
  text-align: center;
	color: hsl(229, 6%, 66%);
}

.attribution a {
  color: hsl(229, 6%, 66%);
}

.attribution a:hover, .attribution a:focus {
  color: hsl(229, 6%, 66%);
}

/*----------------------------
	Page Layout
----------------------------*/


body {
	font-family: 'Manrope', sans-serif;
	font-weight: 500;
	font-size: 13px;
	background-color: var(--light-gray-blue);
}

main {
	border-radius: 1rem;
	text-align: center;
	background-color: #fff;
	margin: 2rem;
}

h2 {
	font-size: 1.5rem;
	line-height: 2.3rem;
	color: var(--dark-gray-blue); 
	padding-bottom: 2rem;
}

p {
	font-size: 1.2rem;
	line-height: 2rem;
	color: var(--desaturated-blue);
	padding-bottom: 2rem;
}

.main-pic {
	border-radius: 1rem 1rem 0 0;
}

.content-container {
	padding: 3rem 3rem 0 3rem;
	text-align: left;
}

footer {
	display: flex;
  	justify-content: space-between;
  	align-items: center;
  	position: relative;
  	background: #ffff;
	padding: 1rem 4rem 2rem 3rem;
	border-radius: 0 0 2rem 2rem;
}

.testimonial-wrapper {
	display: flex;
	justify-content: flex-start;
	gap: 1rem; 
  	align-items: center;
  	position: relative;
  	background: #ffff;
}
  
.testimonial__text {
	display: flex;
  	flex-wrap: wrap;
  	align-items: center; 
 	font-size: 1rem;
 	line-height: 1.8;
}

.testimonial__name {
	font-size: 0.8rem;
	letter-spacing: 0.06rem;
	margin-right: 1rem;
}
  
.testimonial__date {
	font-size: 0.8rem;
	letter-spacing: 0.06rem;
	opacity: 50%;	
	padding: 0;
}
  
.testimonial__img {
	flex-shrink: 0;
	border-radius: 50%;	
	height: 3em;
	width: 3em;
}

.share-icon {
	width: 2rem;
	height: 2rem;
	fill: var(--light-gray-blue);
	border-radius: 50%;
	z-index: 10;
	margin-top: 1rem;
	cursor: pointer;
}

  
.share-list__container {
	display: flex;
	visibility: hidden;
	position: absolute;
	left: 0;
	bottom: 0;
	top: 0;
	width: 100%;
	background: var(--dark-gray-blue);
	color: var(--gray-blue);
	border-radius: 0 0 1rem 1rem;
	padding: 0 3.2rem;
}

.show {
	visibility: visible;
	opacity: 1;
}	

ul {
	list-style: none;
	margin: 2rem; 
	padding: 0.2rem;
}

.share-text {
	text-transform: uppercase; 
	letter-spacing: 0.4rem;
	font-size: 0.8rem; 
	display: flex; 
	align-items: center;
	padding: 0;
}

ul li {
	display: inline; 
	float: left; 
	margin-right: 1rem; 
}

.attribution {
	font-size: 11px; text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

@media only screen and  (min-width: 475px) {
	main {
		display: flex;
		flex-direction: row;
		max-width: 85rem;
	}

	h2 {
		font-size: 1.8rem;
		letter-spacing: 0.1rem;
		line-height: 1.4;
	}

	p {
		font-size: 1rem;
		letter-spacing: 0.1rem;
	}

	.main-pic {
		border-radius: 1rem 0 0 1rem;;
	}

	.content-testimonial-wrapper {
		margin: 2rem;
	}

	.testimonial__name {
		font-size: 1.2rem;
		letter-spacing: 0.06rem;
		margin-right: 12rem;
	}

	.testimonial__date {
		font-size: 1rem;
	}

	.testimonial__img {
		flex-shrink: 0;
		border-radius: 50%;	
		height: 5em;
		width: 5em;
	}

	.share-icon {
		width: 2rem;
		height: 2rem;
		fill: var(--light-gray-blue);
		border-radius: 50%;
		z-index: 10;
		margin-top: 1rem;
		cursor: pointer;
	}
	

	footer {
		padding: 3rem 3rem 2rem 3rem;
	}

	.share-list__container {
		top: -7.8rem; 
		left: 24rem;
		bottom: 10rem; 
		height: 5.3rem;
		border-radius: 1rem;
		width: 22rem;
		padding: 0 2rem;
	}

	.arrow-down {
		position: absolute; 
		top: 5.3rem; 
		left: 10.5rem;
		bottom: 10rem; 
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-top: 20px solid var(--dark-gray-blue);
	  }

	ul {
		margin: 1.8rem; 
	}
	
	.share-text {
		font-size: 1.2rem; 
	}
}